#EdocLogo {
  mix-blend-mode: multiply;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  max-width: 700px;
  max-height: 400px;
  width: 100%;
  height: auto;
}
h1 {
  text-align: center;
  font-style: italic;
  font-weight: strong;
  color: darkblue;
  font-size: 30px;
  margin-top: -40px;
  margin-bottom: 30px;
}
.buttons {
  text-align: center;
  display: block;
}
#about {
  background-color: lightblue;
  padding: 3px;
  font-family: 'Patrick Hand';
  font-size: 20px;
  border-radius: 10px;
  margin-right: 50px;
  margin-left: -50px;
}
#yourideas {
  background-color: lightblue;
  font-family: 'Patrick Hand';
  font-size: 20px;
  border-radius: 10px;
}
body {
  background-color: rgb(174, 214, 241);
  font-family: 'Patrick Hand';
}
p{
  text-align: justify;
  font-size: 40px;
  margin-left: 50px;
  margin-top: 50px;
}
#CreepyCartoon {
  mix-blend-mode: multiply;
  width: 300px;
  height: 500px;
}
#heart {
  opacity: 0.2;
  position: absolute;
  left: 48%;
  top: 40%;
}

#heart:hover {
  opacity: 1;
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

#lungs {
    opacity: 0.2;
    position: absolute;
    left: 34%;
    top: 39%;
}

#lungs:hover {
    opacity: 1;
    animation: pulse 5s ease infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
